/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button{
  outline: none;
  border: none;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}
/*global*/

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

h1{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4;
}
h4{
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #888888;
  font-weight: bold;
}
h3{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
p{
  font-size: 0.8rem;
  color: #888888;
}
.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.btn{
  display: inline-block;
  padding: 0.6rem 0.8rem;
  border-radius: 1.2rem;
  color: #333;
  background-color: #fff;
  border: 0.1rem solid #ceeefa;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

/*home*/

#home{
  min-height: calc(100vh + 2rem);
  background: url('../images/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#angle{
  height: 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#angle .cls{
  fill: #fff;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
nav .logo{
  font-family: "Bello Script";
  font-size: 2rem;
}
nav .logo a{
  color: #fff;
}
nav .menu{
  display: flex;
  color: #fff;
}
nav .menu li a{
  color: #fff;
  text-transform: uppercase;
  padding: 0.6rem;
  font-size: 0.8rem;
}
nav .menu li a:hover{
  color: #ee2f1b;
}
.hamburger{
  width: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.hamburger svg{
  display: block;
  transition: transform 0.2s linear;
  width: 100%;
  fill: #fff;
}
.hamburger #bars{
  opacity: 1;
  
}
.hamburger #times{
  opacity: 0;
}
.hamburger.active svg{
  transform: rotate(90deg);
}
.hamburger.inactive svg{
  transform: rotate(0deg);
}
.hamburger.inactive #bars{
  animation-name: barsBack;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-fill-mode:forwards;
}
.hamburger.inactive #times{
  animation-name: timesBack;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-fill-mode:forwards;
}
.hamburger.active #bars{
  animation-name: bars;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-fill-mode:forwards;
}
.hamburger.active #times{
  animation-name: times;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-fill-mode:forwards;
  /* animation-delay: 0.2s; */
}
@keyframes bars{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
  @keyframes barsBack{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes times{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
  @keyframes timesBack{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 4rem);
  width: 50%;
  margin: auto;
}
.underline{
  height: 0.1rem;
  width: 4rem;
  background-color: #36b9eb;
  margin-bottom: 2rem;
  display: inline-block;
}
.menu-toggle{
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s linear;
}
.menu-toggle.active{
  height: 212.2px;
}
.menu-toggle a{
  padding: 0.6rem;
  display: block;
  color: #fff;
  text-transform: uppercase;
}
.menu-toggle a:hover{
  color: #ee2f1b;
}
/*services*/

.core-services{
  padding: 3rem 0;
  text-align: center;
}
.services{
  display: flex;
  justify-content: space-between;
}
.service-box{
  width: 30%;
}
.service-box-icon{
  margin-bottom: 1rem;
  display: inline-block;
}
.service-box-icon img{
  height: 3rem;
  display: inline-block;
}

/*other expretise*/

.other-expertise{
  background-color: #f7f7f7;
  display: flex;
  padding-left: 5%;
}
.other-expertise-left{
  flex: 2;
  padding: 3rem 1rem 3rem 0;
}
.other-expertise-right{
  flex: 1;
  background: url('../images/other-expertise-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.expertise-list{
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}
.expertise{
  width: 48%;
  display: flex;
  justify-content: space-between;
}
.expertise h4{
  margin-bottom: 0.4rem;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.row:last-child{
  margin-bottom: 0;
}
.expertise-icon{
  width: 4rem;
  margin-right: 0.8rem;
}
.expertise-icon img{
  width: 100%;
}

/*portfolio*/

.amazing-portfolio{
  display: flex;
  padding: 3rem 0 3rem 5%;
}
.amazing-portfolio-left{
  flex: 1;
  /* padding: 3rem 1rem 3rem 0; */
}
.amazing-portfolio-left h4{
  margin-bottom: 0.6rem;
}
.portfolio-services{
  margin-top: 2rem;
}
.portfolio-service{
  margin-bottom: 1rem;
}
.amazing-portfolio-right{
  flex: 1;
  /* background: url('../images/portfolio-background2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
}
.amazing-portfolio-right img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work-items{
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  width: 33.33333333%;
  cursor: pointer;
}
.work-item img{
  width: 100%;
  display: block;
}

/*about*/
#about{
  padding: 3rem 0;
  text-align: center;
}
.about-wrapper{
  position: relative;
}
.about-item{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-bottom: 4rem;
}
.vertical-line{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background-color: #f1f1f1;
}
.about-item:nth-child(odd) .about-item-text{
  grid-column: 1/2;
  text-align: right;
  padding-right: 2rem;
}
.about-item:nth-child(even) .about-item-text{
  grid-column: 3/4;
  text-align: left;
  padding-left: 2rem;
}
.about-item-image{
  grid-column: 2/3;
  position: relative;
}

.about-item-image img{
  width: 100%;
  display: block;
  border-radius: 50%;
  border: 4px solid #f1f1f1;
}

/*team*/
#team{
  padding: 3rem 0;
  background-color: #f7f7f7;
  text-align: center;
}
.team-members{
  display: flex;
}
.team-member{
  flex: 1;
}
.team-member .team-member-image{
  width: 50%;
  display: inline-block;
  margin-bottom: 1rem;
}
.team-member .team-member-image img{
  display: inline-block;
  width: 100%;
  border-radius: 50%;
}
.team-member h6{
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
.name{
  margin-bottom: 1rem;
}
.social-icons a{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #111;
  border-radius: 50%;
  line-height: 2rem;
  color: #fff;
}

/*contact*/
#contact{
  padding: 3rem 0;
  background-color: #111;
  color: #fff;
}
#contact .container{
  display: flex;
}
.contact-left{
  flex: 1;
  margin-right: 2%;
}
.contact-left .contact-items{
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.contact-left .contact-item{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 50%;
}
.contact-left .contact-item i {
  margin-right: 0.6rem;
}
.contact-right{
  flex: 1;
}
.contact-right form input, .contact-right form textarea{
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.2rem;
}
.contact-right form input{
  color: #444;
}
.contact-right form textarea{
  outline: none;
  border: none;
}
.send{
  background-color: #35c2f8;
  border: none;
  color: #fff;
}
.send:hover{
  background-color: #2fa9da;
}
.contact-right form .form-group{
  margin-bottom: 1rem;
}

.social-icons a:hover{
  background-color: #333;
}

@media(max-width: 768px){
  .hamburger{
    display: inline-block;
  }
  nav .menu{
    display: none;
  }
}
@media(max-width: 576px){
  .services{
    flex-direction: column;
  }
  .service-box{
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .service-box:last-child{
    margin-bottom: 0;
  }
}